@import 'empty';

@mixin shadow() {
    -webkit-box-shadow: 0px 2px 9px 0px rgba(155, 179, 197, 0.2);
    -moz-box-shadow: 0px 2px 9px 0px rgba(155, 179, 197, 0.2);
    box-shadow: 0px 2px 9px 0px rgba(155, 179, 197, 0.2);
}

@mixin flex($js, $ai) {
    display: flex;
    justify-content: $js;
    align-items: $ai;
}

@mixin shadowBlue() {
    -webkit-box-shadow: 0px 0px 11px 0px rgba(0, 106, 220, 0.2);
    -moz-box-shadow: 0px 0px 11px 0px rgba(0, 106, 220, 0.2);
    box-shadow: 0px 0px 11px 0px rgba(0, 106, 220, 0.2);
}

.main__album {
    padding: 3rem;
    display: grid;
    grid-template-rows: minmax(40px, 60px) repeat(2, 200px);
    grid-template-columns: 1fr;
    gap: 2rem;
}

.album-manager {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 4rem;
    background-color: white;
    border-radius: 100px;
    padding: 10px 15px;
    @include shadow();
}

.album-manger__authors {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    gap: 1rem;

    a {
        font-size: 1.2rem;
        color: $lightGrey;
        font-weight: 600;
        transition-duration: 0.2s;

        &:hover {
            color: $lightRed;
        }
    }
}

.album-manager__add-author {
    justify-self: flex-end;
    height: 100%;
    min-width: 260px;
    border-radius: 15px;
    color: white;
    background-color: $dark;
    font-size: 1rem;
    letter-spacing: 0.15rem;
    font-weight: 600;
    transition-duration: 0.2s;
    border: 2px solid transparent;

    &:hover {
        background-color: transparent;
        border-color: $dark;
        color: $dark;
    }
}

.toggle {
    input {
        display: none;

    }

    font-size: 1.2rem;
    font-weight: 600;
    color: $dark;
    position: relative;
    transition-duration: 0.2s;

    &:hover {
        color: $lightBlue;
        cursor: pointer;
    }

    &::after {
        content: '';
        background-color: white;
        border: 4px solid white;
        outline: 4px solid $lightBlue;
        position: absolute;
        height: 20px;
        width: 20px;
        top: -10%;
        right: -30%;
        border-radius: 100px;
        padding: 5px;
    }

    &.active::after {
        background-color: $lightBlue;
    }
}

.album-manager__media {
    height: 100%;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    gap: 2rem;
}

.album-manager__media-block {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60px 1fr;
    gap: 1rem;
}

.album-manager__media-manipulator {
    display: grid;
    grid-template-columns: 1fr 60px;
    grid-template-rows: 1fr;
    max-width: 400px;
    gap: 4rem;
}

.album-manager__title {
    background-color: white;
    border-radius: 100px;
    color: $lightBlue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    font-weight: 600;
    @include shadow();
}

.album-manager__media-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.album-manager__add-media {
    border-radius: 10px;
    @include flex(center, center);
    border: 2px solid $lightGrey;
    transition-duration: 0.2s;
    background-color: transparent;

    input[type='file'] {
        display: none;
    }

    &:hover {
        cursor: pointer;
        background-color: $lightBlue;
        border-color: $lightBlue;
        @include shadowBlue();

        svg {
            fill: white;
        }
    }

    svg {
        height: 20px;
        width: 20px;
        transition-duration: 0.2s;
    }
}

.album-image {
    border-radius: 25px;
    border: 2px solid white;
    overflow: hidden;
    transition-duration: 0.2s;
    width: fit-content;
    position: relative;

    .album-image__manager-block {
        display: none;
    }

    img {
        height: 192px;
        object-fit: fill;
    }

    &:hover {
        @include shadow();
        cursor: pointer;
        transform: scale(1.05);

        .album-image__manager-block {
            position: absolute;
            width: 100%;
            min-height: 100%;
            background-color: rgba($color: $dark, $alpha: 0.6);
            top: 0;
            left: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
        }
    }
}

.album-image__btn {
    opacity: 0.6;
    background-color: transparent;
    color: white;
    font-weight: 500;
    font-size: 1.2rem;
    transition-duration: 0.2s;

    &:hover {
        opacity: 1;
    }

    svg {
        width: 30px;
        height: 30px;
    }
}

.add-user {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba($color: $dark, $alpha: 0.6);
    z-index: 100;
}

.add-user__window {
    width: 800px;
    min-height: 600px;
    background-color: white;
    border-radius: 25px;
    overflow: hidden;
    @include shadow();
    display: grid;
    grid-template-columns: minmax(400px, 500px) minmax(300px, 400px);
    padding: 15px;
    grid-template-rows: 1fr;
    justify-items: stretch;
    gap: 2rem;
}

.add-user__search {
    background-color: white;
    border-radius: 10px;
    border: 2px solid $blue;
    color: $dark;
    padding: 0 10px;
    letter-spacing: 0.1rem;
    font-weight: 550;
    font-size: 1.2rem;

    &::placeholder {
        color: $lightGrey;
    }
}

.add-user__title {
    font-size: 1.4rem;
    font-weight: 600;
    color: $dark;
    text-align: center;
}

.add-user__authors-block {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20px 1fr 44px;
    gap: 2rem;
}

.add-user__search-authors-block {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 40px 1fr;
    gap: 2rem;
}

.add-user__list {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    gap: 1rem;
}

.add-user__user {
    background-color: white;
    color: $dark;
    border: 2px solid $dark;
    font-size: 1rem;
    font-weight: 550;
    min-height: 50px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    padding: 5px 5px;
    transition-duration: 0.2s;
    h4{
        font-weight: 600;
        color: $dark;
        letter-spacing: 0.12rem;
    }

    &.blue{
        border-color: $blue;
        background-color: $blue;
        color: white;
        h4{
            color: white;
        }
        button{
            color: white;
        }
    }
}

.add-user__user-infa{
    min-width: 140px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.add-user__user-btn{
    min-width: 50px;
    height: 100%;
    border-radius: 5px;
    background-color: transparent;
    color: $dark;
    font-size: 2rem;
}

.add-user__btns {
    display: flex;
    justify-content: stretch;
    align-items: stretch;
}

.add-user__btn {
    background-color: $dark;
    color: white;
    font-weight: 550;
    letter-spacing: 0.1rem;
    font-size: 1rem;
    border-radius: 10px;
    width: 100%;
    transition-duration: 0.2s;

    &.exit:hover {
        background-color: $lightRed;
    }
}