@import 'empty';

@mixin CardType($color, $shadow) {
    border-color: $color;
    background-color: $color;
    transform: scale(1.02);
    -webkit-box-shadow: 0px 0px 11px 0px $shadow;
    -moz-box-shadow: 0px 0px 11px 0px $shadow;
    box-shadow: 0px 0px 11px 0px $shadow;
}

.main__albums,
.main__users {
    width: 100%;
    height: 100%;
    display: grid;
    grid-auto-flow: row;
    justify-items: center;
    align-items: center;
    gap: 2rem;
    row-gap: 1rem;
    padding: 3rem 10rem;
}

.main__users {
    grid-template-rows: 360px;
    grid-auto-rows: 360px;
    grid-template-columns: repeat(4, 1fr);
}

.main__albums,
.user-album__list {
    grid-template-rows: 260px;
    grid-auto-rows: 260px;
    grid-template-columns: repeat(3, 1fr);

    .card {
        grid-template-rows: 200px 60px;
    }

    .card__img {
        height: 200px;
    }
}


.card {
    background-color: #D7DBDF;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: 2px solid #D7DBDF;
    -webkit-box-shadow: 0px 1px 10px 2px rgba(215, 219, 223, 0.2);
    -moz-box-shadow: 0px 1px 10px 2px rgba(215, 219, 223, 0.2);
    box-shadow: 0px 1px 10px 2px rgba(215, 219, 223, 0.2);
    transition-duration: 0.2s;

    &:hover {
        @include CardType($lightBlue, rgba(0, 106, 220, 0.2));

        .card__title {
            color: white;
        }
    }

    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    overflow: hidden;
}

.card__img {
    background-color: white;
    width: 100%;
    object-fit: scale-down;
    text-align: center;
    border-radius: 20px;
}

.card__title {
    color: #11181C;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 1rem;
    transition-duration: 0.2s;
}

.user-card {
    background-color: transparent;
    border-radius: 15px;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 300px 60px;
    transition-duration: 0.2s;
    overflow: hidden;

    &:hover {
        transform: scale(1.02);
    }
}

.user-card__img {
    border: 2px solid white;
    background-color: $lightGrey;
    border-radius: 15px;
    height: 300px;
    text-align: center;
}

.user-card__title {
    border: 2px solid white;
    background-color: white;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $dark;
    font-size: 1rem;
    font-weight: 600;
    transition-duration: 0.2s;
}