@import 'empty';

.data-card {
    height: 256px;
    border-radius: 25px;
    overflow: hidden;
    border: 2px solid white;
    position: relative;
    transition-duration: 0.2s;
    background-color: $lightGrey;

    &:hover {
        .data-card__data {
            transform: scale(1);
        }

        transform: translateY(-6%);
        -webkit-box-shadow: 0px 0px 8px 2px rgba(70, 105, 131, 0.2);
        -moz-box-shadow: 0px 0px 8px 2px rgba(70, 105, 131, 0.2);
        box-shadow: 0px 0px 8px 2px rgba(70, 105, 131, 0.2);
    }

    animation: cardsBorning 1s backwards;
}

@keyframes cardsBorning {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.data-card__data {
    transform: scale(0);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    background-color: rgba($dark, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.data-card__manager {
    display: flex;
    gap: 0.4rem;
    flex-wrap: wrap;
}

.data-card__btn {
    width: fit-content;
    height: fit-content;
    background-color: transparent;
    opacity: 0.5;
    transition-duration: 0.2s;

    &:hover {
        opacity: 1;
    }

    svg {
        width: 30px;
        height: 30px;
    }
}

.data-card__infa {
    overflow: hidden;
    max-height: 100px;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
}

.data-card__tags {
    font-size: 1rem;
    color: rgba(white, 0.8);
    font-weight: 500;
}

.data-card__title {
    font-size: 1.4rem;
    color: white;
    font-weight: 500;
}